@media (min-width: 1300px){
    .coin_card{
        margin-top: 100px !important;
    }
    .coin_card .link{
        margin-left: 100px;
    }
    .checkImg{
        margin-right: 24%;
    }
    .textTOp{
        margin-top: 20%;
    }
    .blog_card .img{
        width: 275px;
    }
    .side_menu{
        display: block !important;
    }
}

@media (max-width: 1500px){
    .swiper_main .head {
        font-size: 28px;
    }    
    .swiper_main .para {
        font-size: 18px;
    }
    .main_content .menu_item {
        font-size: 18px;
        margin-bottom: 16px;
    }
    .btn_orange {
        font-size: 16px;
        padding: 12px 9px;
    }
    .btn_outline {
        font-size: 17px;
        padding: 12px 9px;
    }
    nav .btn {
        width: 100px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 48px;
    }
    .main_content .menu_item .icon::before {
        top: -6px;
    }
    nav {
        padding: 15px;
    }
    .blog_card .heading {
        margin-top: 9px;
        font-size: 16px;
    }
    .blog_card {
        max-width: 433px;
        height: 185px;
    }
    .timer_top svg{
        width: 120px;
    }
    .product_card {
        max-width: 250px;
    }
}
@media (max-width: 426px){
    .rating_img{
        width: 130px;
    }
    .likes_img{
        
    width: 83px;
    margin-right: -29px;

    }
    body{
        height: 100vh;
        background-image: url(../img/mobile_bg.png);
        background-size: 100% 100%;
    }
    .flexMobile{
        display: flex;
        flex-direction: column-reverse;
    }
    .hidemobile{
        display: none !important;
    }
    .side_menu{
        display: flex;
        margin: 0 !important;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        padding: 10px;
    }
    .main_content .menu_item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0 !important;
        font-size: 10px;
    }
    .main_content .menu_item span{
        margin-right: 0;
    }
    nav .logo img{
        width: 100px;
    }
    nav .btn {
        width: 90px;
    }
    .btn_outline {
        font-size: 16px;
        padding: 11px 9px;
    }
    .btn_orange {
        font-size: 15px;
        padding: 11px 9px;
    }
    nav {
        padding: 12px;
    }
    .swiper_parent{
        min-height: 78vh;
    }
    .swiper-pagination-bullet{
        width: 6px;
        height: 6px;
    }
    .swiper-pagination-bullet-active{
        background-color: #DB1580;
        width: 14px;
        height: 6px;
        opacity: 1;
        border-radius: 30px;
    }
    .blog_card .label {
        font-size: 7px;
    }
    .blog_card .heading {
        margin-top: 5px;
        font-size: 9px;
    }   
    .card_para{
        font-size: 7px;
    } 
    .blog_card {
        max-width: 345px;
        height: 145px;
    }
    .main_content {
        padding: 14px;
    }
    img{
        max-width: 100%;
    }
    .timer_top svg{
        width: 100px;
    }
    .productLables img{
        width: 30px;
    }
    .product_heading h3 {
        font-size: 8px;
    }
    .product_card .btn_orange {
        font-size: 7px;
    }
    .btns_price .price {
        font-size: 9px;
    }
    .main_links svg{
        width: 20px;
    }    
    .main_links .link{
        margin-right: 10px !important;
    }
    .blog_cards{
        width: 315px;
    }
    .swiper_main .head {
        margin-top: 0px;
        font-size: 25px;
    }  
    .firstHead{
        margin-top: 25px !important;
    }
    .headUser{
        margin-top: 30px !important;
    }
    .swiper_main .para {
        font-size: 18px;
    }  
    .coinImg{
        width: 50px;
    }
    .srch2{
        width: 100%;
        max-width: 100%;
        height: 42px;
    }
    .srchInput{
        width: 100%;
        max-width: 100%;
        height: 50px;
    }
    .blackitem .menu_item{
        display: none !important;
        background-color: #353039;
        color: #fff !important;
        flex-direction: row;
        padding: 8px 13px;
    }
    .blackitem .menu_item svg{
        width: 12px;
        margin-left: 4px;
    }
    .blackitem .menu_item .icon::before{
        display: none;
    }
    .blackitem .menu_item svg path{
        stroke: #fff;
    }
    .blackitem .menu_item.active{
        display: flex !important;
    }
    .side_menu{
        position: relative;
    }
    .blackitem {
        position: absolute;
        bottom: -45px;
        left: 0;
    }
    .top_hang_img{
        display: none !important;
    }
    .cardsec2 .blog_card{
        max-width: 100%;
    }
    .main_content .menu_item{
        position: relative;
    }
    .main_content .menu_item::before,
    .srchInput .icon.icon2::before{
        content: '';
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        width: 10px;
        height: 10px;
        background-image: url(../img/arrow.png);
        opacity: 0;
        transition: all 0.3s ease-in-out;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .main_content .menu_item.active::before,
    .srchInput .icon.icon2::before{
        opacity: 1;
    }
    /* .blackitem .menu_item::before{
        display: none;
    } */
    .coin_card{
        display: none;
    }
    .coin_card .head{
        margin-top: -4px;
        font-size: 11px;
    }
    .widthText {
        width: 38px;
    font-size: 7px;
    }  
    .ballon_img{
        width: 145px;
    }   
    .swiper_parent{
        height: 600px;
    }
}