@import url(https://fonts.googleapis.com/css?family=Nunito);
.rtl {
  direction: rtl;
}
.tw-mt-1 {
    margin-top: 0.25rem
}
.tw-flex {
    display: flex
}
.tw-h-8 {
    height: 2rem
}
.tw-h-5 {
    height: 1.25rem
}
.tw-w-8 {
    width: 2rem
}
.tw-w-5 {
    width: 1.25rem
}
.tw-items-center {
    align-items: center
}
.tw-justify-center {
    justify-content: center
}
.tw-gap-3 {
    gap: 0.75rem
}
.tw-rounded-full {
    border-radius: 9999px
}
.tw-bg-pink {
    --tw-bg-opacity: 1;
    background-color: rgb(219 21 128 / var(--tw-bg-opacity))
}
.tw-py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem
}
.tw-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.tw-text-center {
    text-align: center
}
.tw-text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}
.hover\:tw-bg-white\/30:hover {
    background-color: rgb(255 255 255 / 0.3)
}
.hover\:tw-text-white:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
}

