    @media (min-width: 1024px) {

        .thumb_swiper .swiper-container {
            overflow: hidden;
            /* width: 100%; */
            margin-left: auto;
            margin-right: auto;
        }

        /* 
            .thumb_swiper .swiper-container {
                min-height: 320px;
          } */

        .thumb_swiper .swiper-container-wrapper {
            display: flex;
            flex-flow: column nowrap;
            /* height: 100vh; */
            width: 60vw;
        }


        .thumb_swiper .swiper-container-wrapper {
            flex-flow: row-reverse nowrap;
        }

        .thumb_swiper .swiper-button-next,
        .thumb_swiper .swiper-button-prev {
            color: #000;
        }

        .thumb_swiper .swiper-slide .description,
        .thumb_swiper .swiper-slide .title {
            display: block;
            opacity: 0;
            transition: 0.5s ease 0.5s;
        }

        .thumb_swiper .swiper-slide-active .description,
        .thumb_swiper .swiper-slide-active .title {
            opacity: 1;
        }

        .thumb_swiper .swiper-slide {
            /* border: 1px solid red; */
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiperThumbImg img {
            max-width: 80% !important;
        }

        .thumb_swiper .swiper-slide img {
            width: auto !important;
            max-width: 100%;
            height: auto;
        }

        .thumb_swiper .swiper-slide-active .title {
            margin-bottom: 0.5rem;
            font-size: 24px;
            color: #000;
            transition: opacity 0.5s ease 0.5s;
        }

        .thumb_swiper .swiper-slide-active .description {
            font-size: 16px;
            color: #777;
            transition: opacity 0.5s ease 0.75s;
        }

        .thumb_swiper .gallery-top {
            position: relative;
            width: 100%;
            height: 75vh;
        }


        .thumb_swiper .gallery-top {
            width: 75%;
            /* height: 100vh; */
            margin-right: 10px;
        }

        .thumb_swiper .gallery-thumbs {
            width: 100%;
            height: 25vh;
            padding-top: 10px;
        }


        .thumb_swiper .gallery-thumbs {
            width: 20%;
            height: 75vh;
            padding: 0;
        }

        .thumb_swiper .gallery-thumbs .swiper-wrapper {
            flex-direction: row;
        }


        .thumb_swiper .gallery-thumbs .swiper-wrapper {
            flex-direction: column;
        }

        .thumb_swiper .gallery-thumbs .swiper-slide {
            width: 25%;
            flex-flow: row nowrap;
            height: 100%;
            opacity: 0.75;
            cursor: pointer;
            overflow: hidden;
        }


        .thumb_swiper .gallery-thumbs .swiper-slide {
            flex-flow: column nowrap;
            width: 100%;
        }

        .thumb_swiper .gallery-thumbs .swiper-slide-thumb-active {
            opacity: 1;
        }
    }